<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocketIO Demo</title>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
</head>
<body>
<h2>Demo of SocketIO</h2>
<div id="t"></div>

    <label>
        First name:
        <input type="text" id="1">
    </label><br>
    <label>
        Last name:
        <input type="text" id="2">
    </label><br>
<button onclick="fin()">sdfasfasdf</button>
<script>
    function fin(){
        var firestname=document.getElementById("1").value
        var password=document.getElementById("2").value
        xml=new XMLHttpRequest()
        url='http://127.0.0.1:5000/login'

        xml.open('POST',url,true)
        xml.setRequestHeader("Content-Type","application/x-www-form-urlencoded");

        console.log(firestname)
        console.log(password)
        xml.send("firstname="+firestname+"&password="+password);
        xml.onreadystatechange=function(){
            if(xml.readyState===4 && xml.status===200)
            xml.onload=function (){
            console.log("one")
            console.log(xml.responseText)
            console.log("two")

            $("#t").append(xml.responseText).append('<br/>');
            if(xml.responseText==="yes"){
                window.location.href="http://127.0.0.1:5000/person"
            }
        }
        }



    }

</script>
<script>

</script>
</body>
</html>

