<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/food.css">
</head>
<body>
    <div class="food_photo" id="food_photo"></div>
    <div class="food_business_name" id="food_business_name">nam</div>
    <div class="food_name" id="food_name" food_id={{ data['id'] }} >sdfdsafsdafddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</div>
    <div class="food_describe" id="food_describe">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
    <button class="button_decrease" id="button_decrease"></button>
    <div class="food_number" id="food_number">0</div>
    <button class="button_add" id="button_add"></button>
    <div class="address_text" id="address_text">选择您的地址</div>
    <select  class="address_select" id="address_select">

    </select>
    <div class="single_price_text" id="single_price_text">单价</div>
    <div class="single_price_number" id="single_price_number">选择您的地址</div>
    <div class="all_price_text" id="all_price_text">总价</div>
    <div class="all_price_number" id="all_price_number">选择您的地址</div>
    <button class="button_buy" id="button_buy">下单</button>
    <div class="comment_table"></div>
</body>
<script src="../static/js/food.js"></script>
</html>