<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center">
    <table border="2" align="center" width="250">
    <h2>订单详情</h2>
    <tr><th>顾客</th>
        <th>店名</th>
        <th>骑手</th>

    </tr>
        {% for i in list_for_html['list_order'] %}
            <tr style="text-align: center">
            <th>{{ i[1] }}</th>
            <th>{{ i[2] }}</th>
            <th>{{ i[3] }}</th>
            </tr>
        {% endfor %}
    </table>
<table border="2" align="center" width="500">
    <h2>身份详情</h2>
    <tr><th>用户名</th>
        <th>密码</th>
        <th>身份(2:user,0:business,1:rider)</th>
        <th>图片</th>
    </tr>
        {% for i in list_for_html['list_person'] %}
            <tr style="text-align: center">
            <th>{{ i[1] }}</th>
            <th>{{ i[2] }}</th>
            <th>{{ i[3] }}</th>
            <th>{{ i[4] }}</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>