<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form class="login100-form validate-form" method="post">
        <table>
            <tr>
                <th>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="用户名必填" >
                        <span class="label-input100">用户名</span>
                    </div>
                </th>
                <th> <input class="input100" type="text" name="username" autocomplete="off" required>
                    <span class="focus-input100"></span>
                </th>
                </div>
            </tr>
            <tr>
                <th>
                    <div class="wrap-input100 validate-input m-b-18" data-validate="密码必填">
                        <span class="label-input100">密码</span>
                    </div>
                </th>
                <th>
                    <input class="input100" type="password" name="password" autocomplete="off" required>
                </th>
                </div>
            </tr>
            <tr>
                <Th>

                        <span class="label-input100">头像图片路径</span>
                </Th>
                <th>

                        <input class="input100" type="text" name="picture" autocomplete="off" required>

                    <span class="focus-input100"></span>

                </th>
            </tr>



            <tr><th>


                身份选择</th><th>
                <select name="statue" required>
                    <option value="2">用户</option>
                    <option value="0">商家</option>
                    <option value="1">骑手</option>
                </select>
            </th></tr>
            <th>
                <input type="submit" value="注册">
            </th>
        </table>
    </form>
</body>

</html>