<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/rider.css">
</head>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<body>
    <div class="header">
        <div class="header_text" id="header_text">骑手中心</div>
        <div class="header_photo" id="header_photo"></div>
        <div class="header_name" id="header_name">name</div>
        <button class="header_button">退出登录</button>
    </div>
    <div class="person_massage" id="person_massage">
            <div class="order_list person_massage_div">
                客户订单
            </div>
            <div class="talkroom person_massage_div" id="talk_massage">
                最新消息
            </div>
            <div class="button_to_addfood person_massage_div" id="button_to_addfood">
                新增菜品
            </div>
            <div class="button_change_person_data person_massage_div">
                更改店铺信息
            </div>
    </div>
    <div class="space"></div>
    <div  class="massage" id="massage">
        <div class="rider_photo"></div>
        <div class="income">
            <div class="income_text">收入:</div>
            <div class="income_number" id="income">asdfdd</div>
        </div>
        <div class="order">
            <div class="order_text">配送量:</div>
            <div class="order_number" id="order_number">fdsgsfd</div>
        </div>
        <div class="admit">
            <div class="admit_text">顾客好评数:</div>
            <div class="admit_number" id="admit_number">sadf</div>
        </div>
        <div class="criticism">
            <div class="criticism_text">顾客差评数:</div>
            <div class="criticism_number" id="criticism">sadf</div>
        </div>
    </div>
        <table width="80%" class="table_food" id="table_food">
            <thead>
                <tr>
                    <th>菜名</th>
                    <th>地址</th>
                    <th>下单时间</th>
                    <th>收益</th>
                    <th>商家</th>
                    <th>用户</th>
                </tr>
            </thead>
            <tbody id="order_to_send">
                <tr>
                    <td style="font-size: 30px;line-height: 40px">需要派送的订单</td>
                </tr>
            </tbody>
        </table>

        <table class="table_order" id="table_order">
            <thead>
                <tr>
                    <th>菜名</th>
                    <th>地址</th>
                    <th>下单时间</th>
                    <th>收益</th>
                    <th>商家</th>
                    <th>用户</th>
                </tr>
            </thead>
            <tbody id="order_list" >
                <tr>
                    <td style="font-size: 30px;line-height: 40px">可选的订单</td>
                </tr>

            </tbody>
        </table>
        <div class="add_food" id="add_food">
            <div class="add_food_text">添加菜品</div>
            <div class="add_food_button_exit" id="add_food_button_exit"></div>
            <div class="add_food_photo" id="add_food_photo"></div>
            <div class="add_food_button_showphoto" id="add_food_button_showphoto">加载图片</div>
            <input class="add_food_input_name" placeholder="请输入菜品名" id="add_food_input_name" >
            <input class="add_food_input_price" placeholder="请输入菜品价格" id="add_food_input_price" >
            <input class="add_food_input_describe" placeholder="请输入菜品描述" id="add_food_input_describe" >
            <input class="add_food_input_image" placeholder="请输入菜品图片地址" id="add_food_input_image" >
            <div class="add_food_button_commit" id="add_food_button_commit">提交</div>
        </div>
</body>

<script src="../static/js/rider.js"></script>
</html>