<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/talk.css">
</head>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<body>
    <div class="header">聊天室</div>
    <div class="person_massage" id="person_massage">
        <div class="person_massage_photo" id="person_massage_photo">

        </div>
        <div class="person_massage_name" id="person_massage_name">
            
        </div>
    </div>
    <div class="talkroom_member" id="talkroom_member">
        <div class="talkroom_member_text">聊天室成员</div>
        <div class="talkroom_member_name" id="talkroom_member_name"></div>
    </div>
    <div class="massage" id="massage">

    </div>
    <div class="input" >
        <div class="input_text" contenteditable="true" id="input_text"></div>
        <div class="input_button" id="input_button">发送</div>
    </div>
</body>
<script src="../static/js/talk.js"></script>
</html>