<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/user.css">
</head>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <script src="../static/js/ras.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<body>
    <div>
        <div class="header">
        <div class="header_text" id="header_text">欢迎选购</div>
        <div class="header_photo" id="header_photo"></div>
        <div class="header_name" id="header_name">name</div>
        <div class="header_button">退出登录</div>
    </div >
    <div class="add_food" id="add_food">
        <div class="add_food_text">修改信息</div>
        <div class="add_food_button_exit" id="add_food_button_exit"></div>
        <div class="add_food_photo"></div>
        <div class="add_food_button_showphoto">加载图片</div>
        <input class="add_food_input_name" placeholder="请输入新的昵称" id="userName">
        <input class="add_food_input_price" placeholder="请输入新的签名" id="userMotto">
        <input class="add_food_input_describe" placeholder="新的密码" id="userPassword">
        <input class="add_food_input_image" placeholder="请输入头像地址" id="userPhoto">
        <div class="add_food_button_commit" id="add_food_button_commit">提交</div>
    </div>
    <div class="my_order" id="my_order">
        <div class="my_order_text">我的订单</div>
        <div class="add_food_button_exit" id="my_order_button_exit"></div>
        <div class="user_order_list" id="user_order_list">
        </div>
    </div>
    <div class="person_massage" id="person_massage">
            <div class="order_list person_massage_div" id="order_list">
                我的订单
            </div>
            <div class="talkroom person_massage_div" id="talkroom_massage">
                最新消息
            </div>
            <div class="button_to_addfood person_massage_div" id="button_to_add_address">
                添加地址
            </div>
            <div class="button_change_person_data person_massage_div" id="person_massage_change">
                更改个人信息
            </div>
    </div>
        <div class="space_head"></div>
        <div class="button_more_food">
                更多菜品
        </div>
        <div class="header_food">推荐菜品</div>
         <div class="container">
            <div class="card">
                <div class="content">
                    <h2>春</h2>
                    <p>春风拂过大地，吹起片片生机。春雨滋润时间，长起郁郁葱葱的草木。美丽的一年就此开始了。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>夏</h2>
                    <p>阳光穿过世界的每一个角落，最后停留在我眼里，让我看到了光明，让我看到了世界的美好。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>秋</h2>
                    <p>那绚丽缤纷的大好秋色，真使人眼花缭乱，应接不暇。秋天洋溢着丰收的喜悦，孕育着成功的希望。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>春</h2>
                    <p>春风拂过大地，吹起片片生机。春雨滋润时间，长起郁郁葱葱的草木。美丽的一年就此开始了。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>夏</h2>
                    <p>阳光穿过世界的每一个角落，最后停留在我眼里，让我看到了光明，让我看到了世界的美好。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>秋</h2>
                    <p>那绚丽缤纷的大好秋色，真使人眼花缭乱，应接不暇。秋天洋溢着丰收的喜悦，孕育着成功的希望。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            
         </div>
        <div class="button_more_food">
                更多菜品=>
        </div>
         <div class="header_business">推荐商家</div>
         <div class="container">
            <div class="card">
                <div class="content">
                    <h2>春</h2>
                    <p>春风拂过大地，吹起片片生机。春雨滋润时间，长起郁郁葱葱的草木。美丽的一年就此开始了。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>夏</h2>
                    <p>阳光穿过世界的每一个角落，最后停留在我眼里，让我看到了光明，让我看到了世界的美好。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>秋</h2>
                    <p>那绚丽缤纷的大好秋色，真使人眼花缭乱，应接不暇。秋天洋溢着丰收的喜悦，孕育着成功的希望。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>冬</h2>
                    <p>寒冷的严冬，河水一改往日的活泼，似乎恬静地睡着了。冬天是个寒冷的季节，酝酿着一个银色的梦。</p>
                    <button>查看更多</button>
                </div>
            </div>
            <script src="../static/js/user.js"></script>

        </div>
    </div>
</body>
</html>