body{
    margin: 0;
    padding: 0;
}
.header{
    z-index:100;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(199, 214, 227);
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: start;
}
.header_photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat:no-repeat ;
    /*background-size: 100% 100%;*/
}
.header_text{
    font-size: 30px;
    width:80%;
    display: block;

    line-height: 50px;
    text-align: center;
}
.header_name{
    display: block;

    width: 10%;
    line-height: 50px;
    overflow: hidden;
}
.header_button{
    width: 5%;
    overflow: hidden;
    border: none;
    outline:none;
    cursor: pointer;
    background-color: rgb(199, 214, 227);
}
.massage{
    display: block;
    width: 100%;
    height: 1200px;
    align-items: center;
}
.space{
    display: block;
    width: 100%;
    height: 50px;
}
.rider_photo{
    background: url('../image/business.png');
    background-size: cover;
    border-radius: 10px;
    position: relative;
    margin-left:10%;
    margin-top: 70px;
    background-color: rgb(221, 238, 238);
    display: block;
    width: 300px;
    height: 300px;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
}
.income{
    display: block;
    background-color: aliceblue;
    margin-left:10%;
    margin-top: 30px;
    width: 300px;
    height: 25px;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    border-radius: 5px;
}
.income_text{
    display: inline-block;
    height: 25px;

    line-height: 25px;
}
.income_number{
    display: inline-block;

    height: 25px;
    line-height: 25px;
}
.order{
    display: block;
    margin-left:10%;
    background-color: aliceblue;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    border-radius: 5px;
    margin-top: 30px;
    width: 300px;
}
.order_text{
    display: inline-block;
    height: 25px;
    line-height: 25px;
}
.order_number{
    display: inline-block;
    height: 25px;
    line-height: 25px;
}
.admit{
    display: block;
    margin-left:10%;
    background-color: aliceblue;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    border-radius: 5px;
    margin-top: 30px;
    width: 300px;
}
.admit_text{
    display: inline-block;
    height: 25px;

    line-height: 25px;
}
.admit_number{
    display: inline-block;
    height: 25px;
    line-height: 25px;
}
.criticism{
    display: block;
    margin-left:10%;
    background-color: aliceblue;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    border-radius: 5px;
    margin-top: 30px;
    width: 300px;
}
.criticism_text{
    margin-top: 0;
    display: inline-block;
    height: 25px;
    line-height: 25px;
}
.criticism_number{
    display: inline-block;
    margin-top: 0;
    height: 25px;
    line-height: 25px;
}
.table_food{
    z-index: 1;
    margin-top: -595px;
    margin-left:10%;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
}
.table_food tbody::-webkit-scrollbar
 { width: 10px; border-radius: 20px;}
.table_food tbody::-webkit-scrollbar-track
{background-color:#f0f0f0; border-radius: 20px;}
.table_food tbody::-webkit-scrollbar-thumb
{background-color:#CCCCCC;border-radius: 8px; width: 30px;}
.table_food tbody::-webkit-scrollbar-thumb:hover
{background-color:#CCCCCC;border-radius: 20px;}
.table_food tbody::-webkit-scrollbar-thumb:active
{background-color:#CCCCCC;border-radius: 20px;}

.table_food tbody {
    display:block;
    outline:none;
    height:500px;
    overflow-y:scroll;
}
.table_food thead{
    display:table;
    width:100%;
    table-layout:fixed;
    overflow: hidden;
    height: 50px;

}
.table_food thead, tbody tr td{
    text-align: center;
    overflow: hidden;
}
.table_food thead {
    width: calc(100% - 1em);
    overflow: hidden;

}
.table_food thead th {
    background:rgb(203, 191, 191);
    overflow: hidden;
}
.food_image{
    align-items: center;
    width: 100px;
}
.person_massage{
    display: none;
    z-index:100;
    margin-top: 55px;
    margin-left: calc(80% + 25px - 100px);
    position: fixed;
    /* display: none; */
    width: 200px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}
/* .person_massage:hover{
    margin-top: 55px;
    margin-left: calc(80% + 25px - 100px);
    position: fixed;
    display: none;
    width: 200px;
    height: 300px;
    background-color: rgb(219, 202, 202);
    border-radius: 7px;
} */
.table_order{
    z-index: 1;

    margin-left: calc(10% + 300px + 50px);
    margin-right: 10%;
    /* width: calc(100% - 10% - 300px - 10%);; */
    margin-top:-1160px ;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
}
.table_order tbody::-webkit-scrollbar
 { width: 10px; border-radius: 20px;}
.table_order tbody::-webkit-scrollbar-track
{background-color:#f0f0f0; border-radius: 20px;}
.table_order tbody::-webkit-scrollbar-thumb
{background-color:#CCCCCC;border-radius: 8px; width: 30px;}
.table_order tbody::-webkit-scrollbar-thumb:hover
{background-color:#CCCCCC;border-radius: 20px;}
.table_order tbody::-webkit-scrollbar-thumb:active
{background-color:#CCCCCC;border-radius: 20px;}

.table_order tbody {
    display:block;
    outline:none;
    height:500px;
    overflow-y:scroll;
}
.table_order thead, tbody tr {
    margin-top: 3px;
    display:table;
    width:100%;
    table-layout:fixed;
    overflow: hidden;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 2px rgba(186, 176, 176, 0.1),
    0 1px 1px rgba(36, 33, 33, 0.1),
    0 4px 1px rgba(45, 43, 43, 0.1),
    0 1px 1px rgba(69, 65, 65, 0.1),
    0 1px 1px rgba(239, 234, 234, 0.1);
}
.table_order thead, tbody tr td{
    overflow: hidden;
}
.table_order thead {
    width: calc(100% - 1em);
    overflow: hidden;
}
.table_order thead th {
    z-index: 1;
    background:rgb(124, 108, 108);
    overflow: hidden;
}

.person_massage_div{
    display: block;
    height: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.person_massage_div:hover{
    background-color: rgb(166, 157, 157);
}
.add_food{
    z-index: 2;
    position: fixed;
    display: none;
    background-color: rgb(214, 218, 221);
    height: 70vh;
    width: 70%;
    margin-top: -550px;
    margin-left: 15%;
}
.add_food_text{
    position: absolute;
    display: block;
    background-color: rgb(236, 233, 230);
    height: 5vh;
    width: 95%;
    text-align: center;
    line-height: 5vh;
    font-family: "幼圆";
    font-size: 20px;
}
.add_food_button_exit{
    position: absolute;
    background: url("../image/exit.png");
    background-position: center center;
    background-repeat:no-repeat ;
    background-size:60% 80%;

    display: block;
    background-color: rgb(236, 233, 230);
    height: 5vh;
    margin-top: 0;
    margin-left: calc(100% - 5%);
    width: 5%;
}
.add_food_button_exit:hover{
    background-color: rgb(246, 8, 8);
}
.add_food_photo{
    display: block;
    margin-top: 15vh;

    height: 30vh;
    width: 30vh;
    margin-left: 10%;
    background-color: rgba(235, 231, 229);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
}
.add_food_button_showphoto{
    user-select: none;
    background-color: rgba(235, 231, 229);
    border-radius: 5px;
    line-height: 5vh;
    font-family: "幼圆";
    text-align: center;
    height: 5vh;
    width: 10vh;
    margin-top: 20px;
    margin-left: calc(10% + 15vh - 5vh);
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);

}
.add_food_button_commit:active {

    transform: scale(0.98);

    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

}
.add_food_button_showphoto:active{
        transform: scale(0.98);

    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.add_food_input_name{
    position: absolute;
    margin-top: calc( -5vh - 20px - 30vh);
    height: 5vh;
    width: 40%;
    border: none;
    outline: none;
    margin-left: calc( 10% + 30vh + 50px);

}
.add_food_input_price{
    position: absolute;
    margin-top: calc( -5vh - 20px - 30vh + 8vh);
    height: 5vh;
    width: 40%;
    border: none;
    outline: none;
    margin-left: calc( 10% + 30vh + 50px);
}
.add_food_input_describe{
    position: absolute;
    margin-top: calc( -5vh - 20px - 30vh + 8vh + 8vh);
    height: 5vh;
    width: 40%;
    border: none;
    outline: none;
    margin-left: calc( 10% + 30vh + 50px);
}
.add_food_input_image{
    position: absolute;
    margin-top: calc( -5vh - 20px - 30vh + 8vh + 8vh + 8vh);
    height: 5vh;
    width: 40%;
    border: none;
    outline: none;
    margin-left: calc( 10% + 30vh + 50px);
}
.add_food_button_commit{
    user-select: none;
    background-color: rgba(235, 231, 229);
    border-radius: 5px;
    position: absolute;
    font-size: 20px;
    display: block;
    height: 6vh;
    line-height: 6vh;
    font-family: "幼圆";
    text-align: center;
    width: 10%;
    margin-top: calc(-5vh - 20px - 30vh + 8vh + 8vh + 8vh + 8vh);
    margin-left: calc(54%);
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
}
.table_image{
    background: #8ad8da;
    height: 100px;
    width:100px;
}