*{
    margin:0;
    padding:0;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ad8da;
}
.container{
    width: 640px;
    height: 320px;
    display: flex;
}
.left{
    width:50%;
    height: calc(100% - 40px);
    background-color: #fff;
    position: relative;
    top: 20px;
}
.left h1{
    color: #222;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 55px 40px 40px 40px;
}
.left p{
    color:#999;
    font-size: 14px;
    margin: 40px;
    line-height: 22px;

}
.right_text{
    width:50%;
    height: calc(100% - 40px);
    background-color: #fff;
    position: relative;
    top: 20px;
}
.right_text h1{
    color: #222;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 55px 40px 40px 40px;
}
.right_text p{
    color:#999;
    font-size: 14px;
    margin: 40px;
    line-height: 22px;

}
.right{
    width: 320px;
    height: 320px;
    color: #f1f1f1;
    background-color: #474a59;
    position: absolute;
    margin-left: 320px;
    box-shadow: 0 0 40px 16px rgba(0,0,0,0);
}
.right svg{
    position:absolute;
    width: 320px;
}
.right path{
    fill:none;
    stroke: url(#linearGradient1);
    stroke-width: 4;
    stroke-dasharray: 240 1386 ;
}
.form{
    position: absolute;
    margin: 40px;
}
.form label{
    color:#c2c2c2;
    display: block;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.form input{
    width:100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #f2f2f2;
    background-color: transparent;
    border:none;
    outline: none;
    text-indent: 2px;
}
.form button{
    width:100%;
    height:30px;
    color: #d0d0d0;
    font-size:18px;
    background-color: transparent;
    border:none;
    outline:none;
    margin-top: 40px;
    cursor: pointer;
    
}
.button_register{
    font-size: 20px;
    border:none;
    outline:none;
    display: block;
    width: 150px;
    height:50px;
    cursor: pointer;
    margin-left: 40px ;
    margin-top: 0;
}
.button_login{
    font-size: 20px;
    border:none;
    outline:none;
    display: block;
    width: 150px;
    height:50px;
    cursor: pointer;
    margin-left: 40px ;
    margin-top: -22px;
}

.identity{
    border:none;
    outline: none;
    display: block;
    margin-top: -40px;
    width: 80px;
    height: 30px;
    margin-left:40px ;
    background-color: #999;
    cursor: pointer;
}
.option{
    display: block;
    height: 40px;
}