body{
    margin: 0;
    padding: 0;
    background-color: rgb(225, 228, 213);
    height: 120vh;
}
.header{
    font-size: 20px;
    height: 7vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    border-radius: 7px;
    background-color: white ;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    line-height: 7vh;
    text-align: center;
    color: rgb(74, 68, 68);
    font-family:"幼圆";
}
.person_massage{
    background-color: white;
    margin-left: 10%;
    margin-top: 10px;
    width: 15%;
    height: 30vh;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.person_massage_photo{
    width: 50%;
    height: 15vh;
    margin-top: 3vh;
}
.person_massage_name{
    width: 45%;
    height: 3vh;
    margin-top: 3vh;
    line-height: 3vh;
    text-align: center;
    font-family: "幼圆";
}
.talkroom_member{
    background-color: white;
    margin-left: 10%;
    margin-top: 10px;
    width: 15%;
    height: calc(100vh - 10px - 10px - 10px - 7vh - 30vh - 10px);
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    border-radius: 10px;
    text-align: center;
    font-family:"幼圆";
}

.input{
    background-color: white;
    margin-left: calc(10% + 15% + 10px);
    margin-top: 10px;
    width: calc(80% - 15% - 10px);
    height: calc(100vh - 60vh - 7vh - 10px - 10px - 10px - 10px);
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    border-radius: 10px;
    text-align: start;
    font-family:"幼圆";
    outline: none;
    overflow-x: hidden;
    line-height: 20px;
    overflow-y: auto;
}
.input_text{
    background-color: white;
    max-height: calc(100vh - 60vh - 7vh - 10px - 10px - 10px - 10px - 5px - 70px);
    margin-left: 0;
    margin-top: 5px;
    width: 100%;
    height: calc(100vh - 60vh - 7vh - 10px - 10px - 10px - 10px - 5px - 70px);
    text-align: start;
    font-family:"幼圆";
    outline: none;
    overflow-x: hidden;
    line-height: 20px;
    overflow-y: auto;
}
.input::-webkit-scrollbar {    /*滚动条整体样式*/
    width: 20px;                        /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;

}
.input_button{
    margin-top: 10px;
    margin-left: 80%;
    width: 15%;
    height: 40px;
    border-radius: 15px;
    line-height: 40px;
    font-family: '幼圆';
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(32, 28, 28, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(11, 7, 7, 0.1);
    user-select: none;
}
.input_button:active {

    transform: scale(0.98);

    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

}

.input_text::-webkit-scrollbar {
    width: 7px;

  }
.input_text::-webkit-scrollbar-thumb {
background-color: #d9d9d9;
border-radius: 15px;
}
.massage{
    background-color: white;
    margin-left: calc(10% + 15% + 10px);
    margin-top: calc(10px - 100vh + 10px + 7vh + 10px);
    width: calc(80% - 15% - 10px);
    height: 60vh;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    border-radius: 10px;
    text-align: center;
    font-family:"幼圆";
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.massage::-webkit-scrollbar {
    width: 11px;

  }
.massage::-webkit-scrollbar-thumb {
background-color: #d9d9d9;
border-radius: 15px;
}
.massage_item{
    margin-top: 7px;
    width: 70%;
    height: fit-content;
    max-width: 70%;
    word-wrap: break-word;
    text-align: start;
    border-radius:  5px;
}
.massage_item_name{
    margin-left: 0.5%;
    width: 12%;
    height: 17px;
    line-height: 17px;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    overflow-y: auto;
}
.massage_item_identity{
    width: 12%;
    height: 13px;
    font-size: 10px;
    text-align: center;
    margin-left: 2%;
    display: inline-block;
    vertical-align: bottom;
    overflow-y: auto;

}
.massage_item_time{
    overflow-y: auto;
    width: 30%;
    text-align: center;
    height: 13px;
    font-size: 10px;
    margin-left: 2%;
    display: inline-block;
    vertical-align: bottom;

}
.massage_item_photo{
    margin-top: 1px;
    margin-left: 0.5%;
    display: inline-block;

    width: 5%;
    padding-bottom: 5%;
    vertical-align:top;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 -8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    border-radius: 2px;
}
.massage_item_massage{
    background-color: rgba(149, 236, 105);
    margin-top: 1px;
    margin-left: 0.5%;
    display: inline-block;
    width: fit-content;
    max-width: calc(100% - 15%);
    height: fit-content;
    vertical-align:top;
    line-height: 2.1vw;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 -8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
    border-radius: 2px;
}
.talkroom_member_name{
    display: flex;
    width: 100%;
    height: fit-content;
    overflow-y: auto;
    flex-direction: column;
}
.talkroom_member_name_item{
    height: 20px;
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}
.talkroom_member_text{
    font-size: 25px;
}

