*{
    margin:0;
    padding:0;
}
body{
    justify-content: center;
    width:100%;
    height:300vh;
    background: linear-gradient(200deg, #80a9d3,#c3cfe2);
}
.space_head{
    height: 7vh;
}
.header_all{
    z-index: 100;
    width: 100%;
    height: 7vh;
    opacity:1;
    display: flex;
    position: fixed;
    background-color: #c3cfe2;
}
.header_all_photo{
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    display: inline-block;
    background-color: aquamarine;
}
.header_title{
    flex: 8;
    display: block;
    width: 80%;
    height: 100%;
    font-size: 5vh;
    line-height: 7vh;
    background-color: #c3cfe2;
    text-align: center;
}
.header_all_name{
    margin-left: 20px;
    flex: 1;
    height: 7vh;
    display: inline-block;
    line-height: 7vh;
    font-size: 2vh;
    overflow: hidden;
}
.header_food{
    text-align: center;
    height: 6vh;
    line-height: 6vh;
    font-size: 4vh;
    color: antiquewhite;
}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    position: relative;
    width: 240px;
    height: 350px;
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #f5f5f5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
}
.card::before{
    content: "";
    width: 100%;
    height: 110%;
    position: absolute;
    top:0;
    left:0;
    background-size: cover;
    background-position: 0 0;
    transition: transform 1s cubic-bezier(0.19,1,0.22,1);
}
.card::after{
    content: "";
    display: block;
    width: 100%;
    height: 200%;
    background: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.25) 55%,
    rgba(0,0,0,0.8) 100%
    );
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(0);
    transition: transform 1.4s cubic-bezier(0.19,1,0.22,1);
}
.card h2{
    word-wrap:break-word;
    word-break:break-all;
}
.card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 16px 8px;
    transform: translateY(60%);
    transition: transform;
}
.card button{
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 25px;
}
.card button:hover{
    background-color: #000;
}
.card .content *:not(h2){
    /* .content下，除了h2，其他元素隐藏并下移20px */
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.7s cubic-bezier(0.19,1,0.22,1),opacity 0.7s cubic-bezier(0.19,1,0.22,1);
}
.card button{
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 25px;
}
.card button:hover{
    background-color: #000;
}
.card .content *:not(h2){
    /* .content下，除了h2，其他元素隐藏并下移20px */
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.7s cubic-bezier(0.19,1,0.22,1),opacity 0.7s cubic-bezier(0.19,1,0.22,1);
}
.card:hover{
    align-items: center;
}
.card:hover::before{
    transform: translateY(-5%);
}
.card:hover::after{
    transform: translateY(-50%);
}
.card:hover .content{
    transform: translateY(0);
}
.card:hover .content *:not(h2){
    opacity: 1;
    transform: translateY(0);
    /* 过渡效果延迟 */
    transition-delay: 0.1s;
}
.card:hover::before{
    transform: translateY(-5%);
}
.card:hover::after{
    transform: translateY(-50%);
}
.card:hover .content{
    transform: translateY(0);
}
.card:hover .content *:not(h2){
    opacity: 1;
    transform: translateY(0);
    /* 过渡效果延迟 */
    transition-delay: 0.1s;
}
.header_business{
    text-align: center;
    height: 6vh;
    line-height: 6vh;
    font-size: 4vh;
    color: antiquewhite;
}
.button_more_food{
    display: block;
    position: absolute;
    text-align: center;
    width: 70px;
    height: 6vh;
    line-height: 6vh;
    font-size: 3px;
    background-color: #80a9d3;
    cursor: pointer;
    margin-right: 0;
    margin-left: calc(100% - 70px);
}
.person_massage{
    display: none;
    z-index:100;
    margin-top: 7vh;
    width: 200px;
    margin-left: calc(80% + 25px - 100px);
    position: fixed;
    /* display: none; */
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}
.person_massage_div{
    display: block;
    height: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.person_massage_div:hover{
    background-color: rgb(166, 157, 157);
}
.header{
    z-index:100;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(199, 214, 227);
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: start;
}
.header_photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat:no-repeat ;
    /*background-size: 100% 100%;*/
}
.header_text{
    font-size: 30px;
    width:80%;
    display: block;

    line-height: 50px;
    text-align: center;
}
.header_name{
    display: block;

    width: 10%;
    line-height: 50px;
    overflow: hidden;
}
.header_button{
    width: 5%;
    overflow: hidden;
    border: none;
    outline:none;
    cursor: pointer;
    background-color: rgb(199, 214, 227);
    line-height: 50px;
    text-align: center;
}
.add_food{
    display: none;
    z-index: 2;
    position: fixed;
    background-color: rgb(214, 218, 221);
    height: 70vh;
    width: 70%;
    margin-top: 90px;
    margin-left: 15%;
}
.add_food_text{
    position: absolute;
    display: block;
    background-color: rgb(236, 233, 230);
    height: 5vh;
    width: 95%;
    text-align: center;
    line-height: 5vh;
    font-family: "幼圆";
    font-size: 20px;
}
.add_food_button_exit{
    position: absolute;
    position: absolute;
    background: url("2.png");
    background-position: center center;
    background-repeat:no-repeat ;
    background-size:60% 80%;

    display: block;
    background-color: rgb(236, 233, 230);
    height: 5vh;
    margin-top: 0;
    margin-left: calc(100% - 5%);
    width: 5%;
}
.add_food_button_exit:hover{
    background-color: rgb(246, 8, 8);
}
.add_food_photo{
    display: block;
    margin-top: 15vh;

    height: 30vh;
    width: 30vh;
    margin-left: 10%;
    background-color: rgba(235, 231, 229);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
}
.add_food_button_showphoto{
    background-color: rgba(235, 231, 229);
    border-radius: 5px;
    line-height: 5vh;
    font-family: "幼圆";
    text-align: center;
    height: 5vh;
    width: 10vh;
    margin-top: 20px;
    margin-left: calc(10% + 15vh - 5vh);
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);

}
.add_food_input_name{
    position: absolute;
    margin-top: calc( -5vh - 20px - 30vh);
    height: 5vh;
    width: 40%;
    border: none;
    outline: none;
    margin-left: calc( 10% + 30vh + 50px);

}
.add_food_input_price{
    position: absolute;
    margin-top: calc( -5vh - 20px - 30vh + 8vh);
    height: 5vh;
    width: 40%;
    border: none;
    outline: none;
    margin-left: calc( 10% + 30vh + 50px);
}
.add_food_input_describe{
    position: absolute;
    margin-top: calc( -5vh - 20px - 30vh + 8vh + 8vh);
    height: 5vh;
    width: 40%;
    border: none;
    outline: none;
    margin-left: calc( 10% + 30vh + 50px);
}
.add_food_input_image{
    position: absolute;
    margin-top: calc( -5vh - 20px - 30vh + 8vh + 8vh + 8vh);
    height: 5vh;
    width: 40%;
    border: none;
    outline: none;
    margin-left: calc( 10% + 30vh + 50px);
}
.add_food_button_commit{
    background-color: rgba(235, 231, 229);
    border-radius: 5px;
    position: absolute;
    font-size: 20px;
    display: block;
    height: 6vh;
    line-height: 6vh;
    font-family: "幼圆";
    text-align: center;
    width: 10%;
    margin-top: calc(-5vh - 20px - 30vh + 8vh + 8vh + 8vh + 8vh);
    margin-left: calc(54%);
    box-shadow: 0 1px 1px rgba(186, 176, 176, 0.1),
    0 2px 2px rgba(36, 33, 33, 0.1),
    0 4px 4px rgba(45, 43, 43, 0.1),
    0 8px 8px rgba(69, 65, 65, 0.1),
    0 16px 16px rgba(239, 234, 234, 0.1);
}
.my_order{
    z-index: 2;
    position: fixed;
    display: none;
    background-color: rgb(214, 218, 221);
    height: 80vh;
    width: 90%;
    margin-top: 70px;
    margin-left: 5%;
}
.my_order_text{
    position: absolute;
    display: block;
    background-color: rgb(236, 233, 230);
    height: 5vh;
    width: 95%;
    text-align: center;
    line-height: 5vh;
    font-family: "幼圆";
    font-size: 20px;
}
.user_order_list{
    margin-top: 5vh;
    display: flex;
    height: 75vh;
    width: 100%;
    flex-direction:column ;
    overflow-y: auto;
}
.user_order_list_item{
    flex-shrink: 0;
    display: block;
    height: 15vh;
    width: 100%;

    flex-direction: row;
    align-items: center;
}
.user_order_list_item_food{
    font-family: "幼圆";
    margin-left: 15vh;
    margin-top: -12vh;
    flex-shrink: 0;
    width: 15vh;
    background-color: #1864b0;
    height: 5vh;
    line-height:5vh ;
    font-size: 4vh;
}
.user_order_list_item_photo{
    margin-left: 0.5%;
    margin-top: 1vh;
    flex-shrink: 0;
    display:block;

    width: 13vh;
    height: 13vh;
    background-color: #000;
    display: block;
}
.user_order_list_item_business{
    width: 7%;
    margin-left: 35vh;
    margin-top: -2vh;
    background-color: #b0b6bb;
    height: 2vh;
    display: block;
    font-size: 1vh;
    line-height: 2vh;
}
.user_order_list_item_rider{
    display: inline-block;
    margin-top: 1vh;
    margin-left: 15vh;
    width: calc((100% - 15vh )/7);
    background-color: #1864b0;
    height: 4vh;
    line-height:4vh ;
}
.user_order_list_item_number{
    display: inline-block;
    margin-left: 10px;
    background-color: #1864b0;
    height: 4vh;
    width: calc((100% - 15vh )/7);
    line-height:4vh ;
}
.user_order_list_item_all_price{
    display: inline-block;
    margin-left: 10px;
    background-color: #1864b0;
    height: 4vh;
    width: calc((100% - 15vh )/7);
    line-height:4vh ;
}
.user_order_list_item_statue{
    width: calc((100% - 15vh )/7);
    margin-left: 10px;
    background-color: #1864b0;
    height: 4vh;
    display: inline-block;
    line-height:4vh ;
}
.user_order_list_text_css{
    font-family: "幼圆";
    text-align: center;
    overflow-x: hidden;
}
.cursor{
    cursor: pointer;
}