<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>您正在{{ list_for_html['business'] }}购物</h1>
    <table border="1">
        {% for i in list_for_html['list'] %}
        <tr>
            <th>{{ i[0] }}</th>
            <th>{{ i[1] }}</th>
            <th><a href="http://127.0.0.1:5000/user/{{ list_for_html['user'] }}/business/{{ list_for_html['business'] }}/{{ i[0] }}">购买</a></th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>