<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form class="login100-form validate-form" method="post" action="#">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="用户名必填">
                        <span class="label-input100">用户名</span>
                        <input class="input100" type="text" name="username" autocomplete="off">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="密码必填">
                        <span class="label-input100">密码</span>
                        <input class="input100" type="password" name="password" autocomplete="off">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">

                        <div>
                            <a href="http://127.0.0.1:5000/register" class="txt1">
                                注册
                            </a>
                        </div>
                    </div>


                    <div class="container-login100-form-btn">


                        <input type="submit" value="登录">
                        <script>
                            alert("请输入正确的账号和密码！")
                        </script>
                    </div>
                </form>
</body>
</html>